<mat-toolbar>
  <button
    type="button"
    aria-label="Toogle sidenav"
    mat-icon-button
    (click)="toogle()">
    <mat-icon aria-label="Side nav toogle icon">menu</mat-icon>
  </button>
</mat-toolbar>
<app-responsive-sidebar position="start" [opened]="true">
  <div app-sidebar-content>
    <div class="container">
      <router-outlet></router-outlet>
      <!-- <app-search-rooms></app-search-rooms> -->
    </div>
  </div>
  <div app-sidebar>
    <div class="container side">
      
      </div>
    </div>
</app-responsive-sidebar>